<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body style="background-color:blue;">
    <a href="./Home.html">Home</a>
    <h2>Gallery:</h2>
    <img src="https://cdn.pixabay.com/photo/2018/03/09/18/39/dandelion-3212293__340.jpg" alt="image">
    <img src="https://cdn.pixabay.com/photo/2020/06/15/17/35/me-nots-5302712__340.jpg" alt="image2">
</body>
</html>
