<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      *
      {
        background-color: rgba(255, 238, 0, 0.733);
      }
    </style>
  </head>
  <body>
    <h1 align="center">Welcome to Django Class</h1>
    <h4>
      <nav>
        <a href="./Home.html">Home</a>
        <a href="./About.html">About</a>
        <a href="./gallery.html">Gallery </a>
        <a href="./feedback.html">Feedback</a>`
        <a href="./help.html">Help</a>
      </nav>
    </h4>
    <p style="text-align: justify;">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      doloremque, dicta perferendis officiis vel necessitatibus dolorum
      aspernatur quam deleniti, eveniet saepe nam cum porro hic obcaecati nihil
      soluta, similique tempora. Maiores atque, harum itaque aut omnis velit
      fugit delectus adipisci suscipit odio placeat magni vero dolores minus,
      eaque corporis hic, labore sunt dignissimos cupiditate libero dolore. Nisi
      dolorem saepe cupiditate. Quo culpa officiis cumque aspernatur vero minima
      architecto quisquam id odit. Repellendus, blanditiis debitis facilis ipsa
      magni, harum illum quidem deleniti aliquam laudantium atque dolore iusto
      nostrum rerum necessitatibus minus! Corrupti quibusdam, accusantium, quas
      debitis nesciunt recusandae neque nostrum laudantium minus, inventore
      reprehenderit dolorum. Laboriosam minima blanditiis tenetur tempora odio.
      Autem ex veniam cupiditate accusamus alias praesentium cumque eligendi
      aut. Quam fuga culpa ex aspernatur deleniti consequuntur reiciendis sequi
      aperiam commodi vitae, repudiandae distinctio dicta, aliquid ut laborum
      autem quidem. Ratione aperiam in ducimus atque laborum officia, magni
      itaque sequi? Debitis aliquid eum ipsam est, neque quos quia, ducimus
      magni odit saepe perferendis repellendus iure reprehenderit tempora
      consectetur quaerat corrupti officia blanditiis alias minima consequatur
      illo? Repellat voluptas quasi quidem! Aperiam voluptates quia ipsum saepe
      porro, amet ratione! Nesciunt quasi tenetur quisquam quidem option.
    </p>
  </body>
</html>
